
<section class="content mb-2">
    <hr>
    <div class="row text-bold">

        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 data-id="ct_DocTot">0</h3>
                    <p>Total de document</p>
                </div>
                <div class="icon">
                    <i class="fas fa-inbox"></i>
                </div>
                <i class="small-box-footer">
                    <i class="fas fa-circle"></i>
                </i>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3 data-id="ct_DocRemain">0</h3>
                    <p>Document en cours</p>
                </div>
                <div class="icon">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
                <i class="small-box-footer">
                    <i class="fas fa-circle"></i>
                </i>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3 data-id="ct_DocSign">0</h3>
                    <p>Document Signé</p>
                </div>
                <div class="icon">
                    <i class="fas fa-file-signature"></i>
                </div>
                <i class="small-box-footer">
                    <i class="fas fa-circle"></i>
                </i>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3 data-id="ct_DocArc">0</h3>
                    <p>Document Archivé</p>
                </div>
                <div class="icon">
                    <i class="fas fa-file-archive"></i>
                </div>
                <i class="small-box-footer">
                    <i class="fas fa-circle"></i>
                </i>
            </div>
        </div>

    </div>
    <hr>
</section>

<script src="~/js/doc/total.js" asp-append-version="true" type="module"></script>