<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SoftSign</title>

	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
	<!--#region Style-->
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

	<link href="~/lib/SoftSign/css/adminlte.min.css" rel="stylesheet" />

	<link href="~/lib/summernote/summernote.min.css" rel="stylesheet" />
	<link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet" />

	<link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true"/>

	<link href="~/lib/emails-input/email.css" rel="stylesheet" />
	<!--#endregion-->
	<!--#region Script-->
	<script src="~/lib/pdfjs/pdf.worker.min.js"></script>
	<script src="~/lib/pdfjs/pdf.min.js"></script>


	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	<script src="~/lib/SoftSign/js/adminlte.min.js"></script>
	<script src="~/lib/summernote/summernote-lite.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/admin.js" asp-append-version="true" type="module"></script>


	<script src="~/lib/emails-input/utils.js"></script>
	<script src="~/lib/emails-input/emails-input.js"></script>
	<!--#endregion-->

</head>
<body class="hold-transition sidebar-mini" style="user-select:none;">
	<div class="wrapper">
		<nav class="border-bottom border-top fixed-top navbar navbar-expand navbar-dark navbar-inverse">
			<!-- Left navbar links -->
			<div class="container-fluid">
				<div class="logo text-bold ml-3 text-white navbar-header" style="font-size: x-large;">
					<a class="navbar-brand">Soft<span class="text-danger">Sign</span></a>

					<a asp-action="Index" asp-controller="Home" class="text-white ml-3 topm" style="font-size: large;">Accueil</a>
					<a asp-action="usermanagement" asp-controller="client" class="text-white ml-3 topm" style="font-size: large;" id="espace_client">Espace Client</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="MenuDropDown">
							@* <img src="#" class="rounded-circle" width="35px" height="35px" alt=""> *@
							<i class="fa fa-user"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-end" style="padding: 0 !important; line-height:30px" aria-labelledby="MenuDropDown">

							<li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-transfert">
								<i class="fa fa-exchange"></i> Transfert Mail
							</li>
							<li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-profil">
								<i class="fa fa-user"></i> Profil
							</li>
							<li class="dropdown-divider"></li>
							<li class="dropdown-item bg-danger" onclick="deconnect()">
								<a href="/Disconnect" class="text-dark">
									<i class="fa fa-power-off"></i>  Se deconnecter
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<!-- fin Navbar -->

		<div class="container-fluid p-4"></div>

		<!-- Content -->
		<div class="container-fluid p-3">
			@RenderBody()
		</div>

		<!-- footer -->
		<footer class="border-top border-bottom p-3 navbar-dark text-white fixed-bottom" style="z-index:4;">
			<div class="float-right d-none d-sm-block">
				by <a href="http://www.softwell.mg" class="text-danger">Softwell Madagascar</a>
			</div>
			<strong>
				Copyright &copy; 2023 @*<img src="~/img/logo.png" height="35px" />*@
			</strong>
		</footer>
		@*
		<!--#region partial-->
		<partial name="~/Views/Main/Profil.cshtml" />
		<partial name="~/Views/Main/Transfert.cshtml" />
		<partial name="~/Views/Utils/Loading.cshtml" />
		<!--#endregion-->
		*@
	</div>
</body>
</html>
