@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

canvas{
	padding: 2px;
}
.pdf-viewer {
	/*background-color: #333;*/
	background: url(/img/pdfBackground.png);
	background-size: cover;
	margin: 0;
	width: 100%;
	border: 5px solid #083141da;
	padding: 0;
}
.pdf-viewer-client {
	background-color: #333;
	margin: 0;
	width: 100%;
}
#pdfImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.8;
	transition: opacity 0.2s ease-in;
	width: 150px;
	height: 150px;
	background: url(/img/pdfIcon.png) no-repeat center / cover;
}
#pdfImg:hover {
	opacity: 1;
}
#pdfContainer {
	width: 1200px;
	text-align: center
}

.BoxSetting {
	box-shadow: 0px 0px 17px 3px #0831412e;
	padding: 10px;
	position: fixed;
	right: 0px;
	top: 100px;
	z-index: 10;
	background: white;
	transition: 1.0s cubic-bezier(.36,-0.01,0,.77);
}

@media screen and (max-width: 576px) {

	.BoxSetting {
		width: 450px;
	}

		.BoxSetting.closed {
			margin-right: -450px;
		}
}
@media (max-width: 768px) and (min-width: 576px) {
	.BoxSetting {
		width: 500px;
	}

		.BoxSetting.closed {
			margin-right: -500px;
		}
}
@media (max-width: 1360px) and (min-width: 768px) {
	.BoxSetting {
		width: 600px;
	}

		.BoxSetting.closed {
			margin-right: -600px;
		}
}
@media (min-width: 1360px) {
	.BoxSetting {
		width: 700px;
	}

		.BoxSetting.closed {
			margin-right: -700px;
		}
}

.BoxSettingInfo {
	width: 100%;
	height: calc(60vh - 150px);
	overflow-y: scroll;
	overflow-x: hidden;
}
@media (max-height: 500px) {
	body{
		zoom:75%;
	}
	.BoxSettingInfo {
		height: 30vh;
	}
}
@media (min-height: 800px) {
	
	.BoxSettingInfo {
		height: 60vh;
	}
}
	.BoxSettingInfo::-webkit-scrollbar {
		width: 0px;
		display: none;
	}
#closeSideMenu {
	font-size: 2rem;
	position:absolute;
	right:25px;
	top:25px;
	color: #083141ff;
	opacity:0.5;
}
	#closeSideMenu:hover {
		opacity: 1;
		font-size: 2.1rem;
	}

#toggleBoxSetting {
	box-shadow: -1px 1px 10px 1px #333;
	width: 60px;
	height: 60px;
	background: white;
	position: fixed;
	right: 0px;
	top: 110px;
	z-index: 10;
	border-start-start-radius: 15px;
	border-end-start-radius: 15px;
	font-size: 1.5rem;
	opacity: 0.5;
	transition: opacity 0.1s ease-in;
}
	#toggleBoxSetting:hover {
		opacity: 1;
		color: #ff0046b9;
		box-shadow: -1px 1px 10px 1px #ff0046b9;
	}
.recipientRoundBox{
	width : 20px;
	height : 20px;
	border-radius : 100%;
}

.hidden {
	display: none !important;
}

.pagination{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #eee;
	font-size: 1.4rem;
}

.pagination span{
	font-size: 1.1rem;
	margin: 0 10px;
}

.pagination button{
	font-size: 1.5rem;
}

button:active > *{
	color: #8d8d8d;
}

footer ul{
	list-style-type: none;
	width: 100%;
	height: 100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	position: relative;
}

footer ul li:first-child{
	margin-left: 20px;
}

footer ul li:last-child{
	margin-right: 20px;
}

#zoomValue{
	display:inline-block;
	font-size: 0.9rem;
	width: 60px;
	vertical-align: central;
}

#openPDF{
	font-size: 1.2rem;
	padding: 2px 5px;
	font-weight: 700;
	color:#eee;
}
/*
@media screen and (max-width: 768px) {
	.pdf-viewer {
		background-color: #333;
		margin: 0;
		width: 1200px;
	}
}
*/
.boxSign {
	position: absolute;
	width:100px;
	height:100px;
	min-width: 00px;
	min-height: 100px;
	max-width: 200px;
	max-height: 150px;
	/*z-index: 999;*/
	resize: both;
	overflow: hidden;
	opacity: 0.7;
	background-color: rgba(68, 65, 65, 0.59);
}

.ribbon:hover{
	cursor : move;
}


.login-mail {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.note-editable{
	background-color: #fff;
}

.modal-backdrop.show{
	width: 100%;
	height: 100%;
}
