<link href="~/lib/singpad/style.css" rel="stylesheet" />

<!-- Modal SignaturePad -->
<div class="modal fade" id="signature_tab" data-bs-backdrop="static" data-bs-keyboard="false" style="font-family: Helvetica, Sans-Serif; display:none;">
	<div class="modal-dialog modal-xl" sign-modal-dialog>
		<div class="modal-content">
			<div class="modal-header bg-gray-dark">
				<h4 class="modal-title"><i class="fa fa-paper-plan"></i> </h4>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex" id="signaturePad-container">
				<div id="signature-pad" class="signature-pad col">
					<div class="signature-pad--body">
						<canvas id="signaturePad"></canvas>
					</div>
					<div class="signature-pad--footer">
						<div class="description">Votre signature</div>
					</div>

					<button type="button" class="button clear btn btn-secondary" pad-clear="signature">Reinitialiser signature</button>
				</div>
				<div id="paraphe-pad" class="signature-pad col-4">
					<div class="signature-pad--body">
						<canvas id="paraphePad"></canvas>
					</div>
					<div class="signature-pad--footer">
						<div class="description">Votre paraphe</div>
					</div>

					<button type="button" class="button clear btn btn-secondary" pad-clear="paraphe">Reinitialiser paraphe</button>
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class=" button clear btn btn-danger" data-bs-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" sign-confirm>Valider</button>
			</div>
		</div>
	</div>
</div>
<script src="~/lib/singpad/signature_pad.umd.js"></script>
<script src="~/lib/singpad/app.js"></script>
<!-- Fin Modal SignaturePad -->